.index_projects
  margin-top 80px

.projects_top
  display flex
  justify-content space-between
  margin 20px 0

.title
  font-size 30px
  color #333

.search_box
  display flex
  input
    outline none
    flex 1
    margin-right 4px
    border 1px solid #ccc
    padding-left 10px
  .button
    background-color #789
    border 1px solid #789
    color #fff

.projects_body
  display flex
  flex-wrap wrap
  justify-content space-between
  li
    width 22%
    margin 20px 0
    a
      display block
      position relative
      img
        width 100%
      .mask
        position absolute
        background-color rgba(9,94,100,0.5)
        left 0
        right 0
        bottom 0
        .name
          font-size 18px
          color #fff
          text-align center
          line-height 40px