@import '../mixins.styl'
.index_projects
  margin-top 80px
.projects_banner
  overflow hidden
  margin-bottom 30px
  .main
    width 700px
    height 0
    padding-bottom 30%
    position relative
    float left
    overflow hidden
    border-radius $border-radius
    img
      position absolute
      width 100%
      top 50%
      translate-y(-50%)
  .sub
    width 480px
    height 0
    padding-bottom 30%
    position relative
    float right
    overflow hidden
    border-radius $border-radius
    img
      position absolute
      width 100%
.projects_title
  display flex
  justify-content space-between
.title
  font-size 30px
  color #333
  font-weight bold
.search_box
  display flex
  input
    outline none
    flex 1
    border(1px)
    padding-left 6px
    border-radius $border-radius
.projects_body
  margin-top 30px
  &:after
    content: ''
    display: block
    clear: left
  .card_box
    float left
    width 23.5%
    background-color #fff
    margin-bottom 20px
    margin-right 2%
    border-radius: $border-radius
    position relative
    top 0
    transition(0.2s)
    &:hover
      box-shadow(0, 15px, 30px, 0.1)
      top -5px
      .card_cover > img
        scale-all(1.1)
      .card_info .name > a
        color: #3d7eff
    &:nth-child(4n)
      margin-right 0
    .card_cover
      display block
      padding-bottom 75%
      position relative
      overflow hidden
      border-top-left-radius: $border-radius
      border-top-right-radius: $border-radius
      img
        width 100%
        position absolute
        transition(0.2s)
    .card_info
      padding 15px 15px 18px
      .name
        a
          font-size 16px
          font-weight bold
          color #333
      .subname
        font-size 14px
        color #666
        margin-top 10px
      .pubtime
        text-align right
        font-size 12px
        color #999
        margin-top 20px