@import './mixins.styl'
.detail_box
  margin-top: 20px
  position: relative
  .left_box
    width: 906px
    padding: 32px 20px
    background-color: rgba(255, 255, 255, 1)
    margin-right: 20px
    box-sizing: border-box
    text-align: justify
    .article_top
      font-size: 14px
      text-align: left
      padding-bottom: 20px
      border-bottom: 1px solid #f2f2f2
      .tit
        font-size: 24px
        line-height: 1.4
        color: $color
      .others
        margin-top: 10px
        display: flex
        justify-content: flex-start
        span
          color: #959595
          font-size: 14px
          margin-right: 50px
    .article_content
      padding: 10px 0
      font-size: 16px
      color: #444
      p
        margin: 14px 0
        line-height: 1.8
  .right_box
    width: 300px
    position: absolute
    right: 0
    top: 0
    .scroll_style
      overflow-y: scroll
      &::-webkit-scrollbar
        width: 2px
        height: 2px
      &::-webkit-scrollbar-thumb
        border-radius: 5px
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)
        background: rgba(0,0,0,0.05)
      &::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)
        border-radius: 0;
        background: rgba(0,0,0,0.01);
    .iffixed
      width: inherit
      position: fixed
      top: 20px