.title
  margin-bottom: 2%
  font-size: 20px
  font-weight: normal
.home_blogs, .home_project
  margin-top: 40px
.home_blogs
  .list
    li
      margin: 0 0 2% 0
.home_project
  display: block
  .el-tabs__header
    margin-bottom: 0
  .el-tabs__item
    font-size: 14px
