.title
  margin-bottom: 20px
  font-size: 22px
  color: #333
.home_blogs, .home_project
  margin-top: 40px
.home_blogs
  .list
    li
      margin: 0 0 20px 0
.home_project
  display: block
  .el-tabs__header
    margin-bottom: 0
  .el-tabs__item
    font-size: 14px
    border: 0!important
  .el-tabs--border-card
    border: 0
    box-shadow: unset
    .el-tabs__header
      border-bottom: 0
    &>.el-tabs__content
      padding: 20px
