@import '../mixins.styl'
.module_box
  background-color: #fff
  padding: 20px
  margin-bottom: 20px
  h4
    color: #222
    font-size: 16px
    line-height: 22px
    font-weight: normal
  .list_box
    margin-top: 18px
    padding-top: 12px
    border-top: 1px solid #e2e2e2
    .item
      font-size: 14px
      color: #333
      line-height: 1.8
      margin: 10px 0
      display: block
      ellipsis(1)
      &:hover
        color: $primary-color