@import '../mixins.styl'
.blog_li
  padding: 0
  background-color: #fff
  display: flex
  font-size: 0
  .figture
    width: 220px
    margin-right: 10px
    img
      width: 100%
  .text_box
    flex: 1
    padding: 14px
    font-size: 14px
    display: flex
    flex-direction: column
    justify-content: space-around
    .main_info
      .title
        font-size: 18px
        color: #333
        line-height: 24px
        ellipsis(1)
      .sub_title
        font-size: 14px
        color: #888
        line-height: 24px
        margin-top: 8px
        ellipsis(2)
    .others_info
      font-size: 14px
      color: #999