.all_state_box
  padding: 0 0 0 20px
  display: flex
  height: 80px
  align-items: center
  justify-content: flex-start
  border: 1px solid rgba(0, 0, 0, 0)
  border-top: 1px solid rgba(0, 0, 0, 0)
  .label
    cursor: pointer
    font-size: 14px
    color: #666
    .check_box
      margin-right: 5px
    .el-checkbox__inner
      border: 1px solid #999
    .is-focus
      .el-checkbox__inner
        border: 1px solid #999
    .is-checked
      .el-checkbox__inner
        border: 1px solid #409EFF
  .finished_btn
    margin-left: 40px